@model IEnumerable<aprintist.Models.Observation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Slicer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Printer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estimate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Actual)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Slicer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Printer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estimate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actual)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
